.container{
  height: fit-content;
  width: 80%;margin-left: auto;
  margin-right: auto;
  /* background-color: aqua; */
  border-radius: 15px;
  display: flex;
  margin-bottom: 10px;
  border: 2px solid rgb(108, 182, 225);
}
/* .prodImg{

} */
.imageTag{
  height: 150px;
  width: 150px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.nameTag{
  color: rgb(68, 126, 160);
}
.paraTag{
  font-size: 16px;
  color: rgb(97, 97, 97);
  font-style: italic;
  margin-left: 10px;
}
.priceTag{
  font-weight: bold;
  font-size: 20px;
}